body {
    background-color: #cce3de;
    
}
header h1 {
    text-align: center;
}
#nav-container {
    background-color: #a4c3b2;
    padding: 5px;
    
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
nav li a:hover {
   color: #cce3de;
}
nav a {
    text-decoration: none;
    color: #31654f;
    font-weight:600;
}
#education {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}
.left-align {
    text-align: left;
}
#experience {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}
#projects {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}
#skills {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}


