* {
    margin: 10;
    padding: 20; 
}
body { 
    font-family: Arial, sans-serif;   
    background-color: #cce3de; 
}
header h1 {
    text-align: center;
}
#nav-container {
    background-color: #a4c3b2;
    padding: 5px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
nav li a:hover {
   color: #cce3de;
}
nav a {
    text-decoration: none;
    color: #31654f;
    font-weight:600;
}
#education {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}
.left-align {
    text-align: left;
}
#experience {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}
#projects {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}
#skills {
    color:#31654f;
    background-color: #a4c3b2;
    border-radius: 3px;
}
.center-audio {
    display: block;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto;
}
#contact-container {
    background-color: #a4c3b2;
    border-radius: 3px;
    margin: 30px 30px;
}
.center-video {
    display:block;
    margin: 0 auto;
}
input[type="submit"] {
    background-color: #31654f;
    color:antiquewhite;
    border: none;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 5;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #8ea89a;
}
fieldset.contact {
    border: none;
    margin-left: 0;
    padding-left: 0;
}

